.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 70px;
}
  
  .goomba {
    width: 70px;
    position: absolute;
    top: 350px;
    left: 200px;
    z-index: 2;
  }
  
  .baloon {
      position: absolute; 
      z-index: 3;
      left: 300px;
      top: 50px;
      
}
  
  .speach {
    font-size: 25px;
    left: 320px;
    position: absolute;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 240px;
    left: 570px;
  }